%html
  %head
    :javascript
      function myOnLoad() {
        document.getElementById('went-well').focus();
      }
  %body(onload='myOnLoad()')
    %form(method='post')
      Evening survey
      %br
      %br
  
      What went well today?
      %br
      %textarea(id='went-well' name='evening-went-well' rows='5' cols='50')
      %br
      %br

      What didn't go well today?
      %br
      %textarea(id='went-not-well' name='evening-went-not-well' rows='5' cols='50')
      %br
      %br
  
      What did you learn today?
      %br
      %textarea(id='learned-today' name='evening-learned-today' rows='5' cols='50')
      %br
      %br
  
      %input(type='submit' id='submit' value='Finish')
