%html
  %head
    %link(href="stylesheet.css" rel="stylesheet" type="text/css")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    %script{ :src => cometio_js }

    %script(src="/json2.js" type="text/javascript")
  %body
    %a#unfocus{:href => "#"}

    :javascript
      var io = new CometIO().connect();
      io.on("update", function(hash) {
        if (hash.section == "unanswered_messages") {
          $.get('/unanswered_messages', null, function (data, textStatus, jqXHR) {
            $('#unanswered-messages').replaceWith(data);
          });
        }
      });

    != haml(:_unanswered_messages)
