%html
  %head
    %link(href="stylesheet.css" rel="stylesheet" type="text/css")
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    %script{ :src => cometio_js }

    %script(src="/json2.js" type="text/javascript")
  %body
    %a#unfocus{:href => "#"}

    :javascript
      var io = new CometIO().connect();
      io.on("data", function(hash) {
        if (hash.section == "messages") {
          var html = "<ul>";
          for (var i = 0; i < hash.value.length; i++) {
            var from_and_count = hash.value[i];
            var from = from_and_count.from;
            var count = from_and_count.count;
            var bold_or_not_open  = from_and_count.seen ? "" : "<b>";
            var bold_or_not_close = from_and_count.seen ? "" : "</b>";
            html += "<li>" + bold_or_not_open +
              from + " " + "(" + count + ")" + bold_or_not_close + "</li>";
          }
          html += "</ul>";
          $('#messages .body').html(html);
        }
        //console.log('data', hash);
      });

    #messages.square.square1
      %h1 Messages
      %div.body HERE
    #laundry.square.square2
      %h1 Laundry
    #schedule.square.square3
      %h1 Schedule
    #weather.square.square4
      %h1 Weather
    #food.square.square5
      %h1 Food
    #emotion.square.square6
      %h1 Emotion
    #task.square.square7
      %h1 Task
    #plan.square.square8
      %h1 Plan
    #cleaning.square.square9
      %h1 Cleaning
