<html>
<head>
<link href="stylesheet.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/json2.js"></script>
<script type="text/javascript" src="/javascript.js"></script>
</head>
<body>
  <a href="#" id='unfocus'></a>
  <form>
    <div id='color-wash'>
      <div id='message'>not loaded</div>

      <div id='has-intention-or-not'>
        <textarea id='intention' placeholder='Declare an intention...'
          ></textarea>
        <br/>
  
        <span id='duration-so-far'>0</span>
        min out of
        <input type='text'
          id='intended-duration' placeholder='intended duration'/>
        min
     </div>

    </div>
    <div id='activity-list'>
    </div>
  </form>
</body>
</html>
