body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 12pt;
  font-family: sans-serif;
}

#color-wash {
  background-color: black;
  width:1024px;
  height:563px;
  color: white;
  text-align: center;
}

#message {
  padding-top: 50px;
  font-size: 120pt;
}

#intention {
  background-color: transparent;
  color: white;
  font-size: 20pt;
  width: 90%;
  margin-bottom: 20px;
  border: 1px black solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
}

#intended-duration {
  background-color: transparent;
  color: white;
  border: 1px black solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
  text-align: right;
  padding-right: 5px;
  width: 50px;
}

#activity-list {
}

.activity {
  float: left;
  width: 140px;
  border: 1px black solid;
}

.activity-num {
  color: white;
  float: left;
  width: 15px;
  height: 30px;
}

.square {
  position: absolute;
  width: 320px;
  height: 200px;
  border: 5px #444 solid;
  text-align: center;
}

.square1 {
  top: 10px;
  left: 10px;
}
.square2 {
  top: 10px;
  left: 350px;
}
.square3 {
  top: 10px;
  left: 690px;
}

.square4 {
  top: 250px;
  left: 10px;
}
.square5 {
  top: 250px;
  left: 350px;
}
.square6 {
  top: 250px;
  left: 690px;
}

.square7 {
  top: 480px;
  left: 10px;
}
.square8 {
  top: 480px;
  left: 350px;
}
.square9 {
  top: 480px;
  left: 690px;
}

.square h1 {
  background-color: #000;
  font-size: 24pt;
  padding: 0;
  margin: 0;
  color: #444;
}
