body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 12pt;
}

#color-wash {
  background-color: black;
  width:1024px;
  height:563px;
  color: white;
  text-align: center;
}

#message {
  padding-top: 50px;
  font-size: 120pt;
}

#intention {
  background-color: transparent;
  color: white;
  font-size: 20pt;
  width: 90%;
  margin-bottom: 20px;
  border: 1px black solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
}

#intended-duration {
  background-color: transparent;
  color: white;
  border: 1px black solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
  text-align: right;
  padding-right: 5px;
  width: 50px;
}

#activity-list {
}

.activity {
  float: left;
  width: 140px;
  border: 1px black solid;
}

.activity-num {
  color: white;
  float: left;
  width: 15px;
  height: 30px;
}
