%html
  %head
    :javascript
      function myOnLoad() {
        document.getElementById('proud').focus();
      }
  %body(onload='myOnLoad()')
    %form(method='post')
      Evening survey
      %br
      %br
  
      What happened today that you are proud of?
      %br
      %textarea(id='proud' name='evening-proud-text' rows='5' cols='50')
      %br
      %br

      Is there any decision today that you would change?
      %br
      %textarea(id='regret' name='evening-regret-text' rows='5' cols='50')
      %br
      %br
  
      What did you learn today?
      %br
      %textarea(id='learned-today' name='evening-learned-today-text' rows='5' cols='50')
      %br
      %br
  
      How many non-permanent objects are on your computer desk?
      %br
      %input(id='num-desk-objects' name='evening-num-desk-objects')
      %br
      %br
  
      How many objects are on the table?
      %br
      %input(id='num-table-objects' name='evening-num-table-objects')
      %br
      %br
  
      %input(type='submit' id='submit' value='Finish')
