body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 12pt;
  font-family: sans-serif;
}
th, td {
  font-size: 16pt;
}
tr {
  vertical-align: top;
}

#color-wash {
  background-color: black;
  width:1024px;
  height:553px;
  color: white;
  text-align: center;
}

#message {
  padding-top: 50px;
  font-size: 120pt;
}

#intention {
  background-color: transparent;
  color: white;
  font-size: 20pt;
  width: 90%;
  margin-bottom: 20px;
  border: 1px black solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
}

#intended-duration {
  background-color: transparent;
  color: white;
  border: 1px black solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
  text-align: right;
  padding-right: 5px;
  width: 50px;
}

#activity-list {
}

.activity {
  float: left;
  width: 140px;
  border: 1px black solid;
}

.activity-num {
  color: white;
  float: left;
  width: 15px;
  height: 40px;
}

.section {
  border: 2px #222 solid;
  color: #777;
  margin: 5px;
}

.section h1 {
  text-align: center;
}

.section th {
  text-align: left;
  font-weight: normal;
  text-decoration: underline;
  color: #777;
}

.section td {
  color: #777;
}

.section tr.unseen td {
  color: #fff;
}

button {
  background-color: #333;
  color: #aaa;
  border: none;
}

th.estimate, td.estimate {
  text-align: right;
  padding-left: 8px;
  padding-right: 8px;
}
th.priority, td.priority {
  padding-right: 8px;
}

#tasks {
  height: 300px;
}
